.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 999;
}

.loadingContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff !important;
  z-index: 1000;
  width: 70%;
  max-width: 800px;
  height: 120px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.loadingText {
  font-size: 16px;
  color: #4f4f4f;
  margin-bottom: 16px;
  font-weight: 500;
}

.progressBarContainer {
  width: 90%;
  max-width: 700px;
  height: 4px;
  background-color: #f2f2f2;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.progressBar {
  height: 100%;
  width: 100px;
  background-color: #2f80ed;
  position: absolute;
  border-radius: 8px;
  animation: progress-animation 1.5s infinite ease-in-out;
}

@keyframes progress-animation {
  0% {
    left: -100px;
  }
  100% {
    left: 100%;
  }
}

@media (prefers-color-scheme: light) {
  .loadingContainer {
    background: #ffffff !important;
    box-shadow: 0 8px 16px rgba(248, 244, 244, 0.3) !important;
  }
}


/* Dark mode */
@media (prefers-color-scheme: dark) {
  .loadingContainer {
    background: #1a1a1a;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

  .loadingText {
    color: #e1e1e1;
  }

  .progressBarContainer {
    background-color: #333333;
  }

  .progressBar {
    background-color: #3b82f6;
  }
}

@media (max-width: 480px) {
  .loadingContainer {
    width: 85%;
    height: 100px;
    padding: 1rem;
  }


  .progressBarContainer {
    width: 90%;
  }

  .loadingText {
    font-size: 15px;
    margin-bottom: 14px;
  }
}
